.App {

}

.main-container{
  display:grid;
  grid-template-columns: 1fr 4fr;
  margin-right: 35px;
  align-items: start;
  margin:20px;

}

.bakery-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.logo-name{
  display: flex;
  margin:40px;
}

.logo-name img{
  width:200px;
  height: 200px;
}

.logo-name h1{
  /* padding-top:60px; */
  padding-left:20px;
  font-weight: 500;
  font-size: 60px;
  font-family: 'Trattatello';
  color: rgb(5, 5, 126);
}

.sorting-container{
  box-shadow: 0 1px 1px #d2d2d2;
  display: flex;
  flex-direction: column;
  border-style:solid;
  border-width: 2px;
  border-color: #a4a1a1;
  width: 200px;
  height:800px;
  margin-right: 20px;
  border-radius: 10px;
}

.sorting-container h2{
  color: #a4a1a1;
  font-size: 16px;
  font-weight: 500;
  margin:20px;
}

.sorting-container p{
  color: #a4a1a1;
  font-size: 14px;
  font-weight: 300;
  margin:20px;
}
